@font-face {
	font-family: 'ProximaNova';
	src:
		local('Proxima Nova'),
		url('../Proxima-Nova/proximanova_regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
} 
@font-face {
	font-family: 'ProximaNova';
	src:
		local('Proxima Nova'),
		url('../Proxima-Nova/proximanova_bold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
} 
@font-face {
	font-family: 'ProximaNova';
	src:
		local('Proxima Nova'),
		url('../Proxima-Nova/proximanova_light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
} 